worker_processes 1;
error_log stderr;
pid nginx.pid;
daemon off;

events {
  worker_connections 768;
}

http {
  types_hash_max_size 2048;
  include mime.types;
  server {
    listen <%= ENV['PORT'] %>;
    server_name  _;
    <% if ENV['NGINX_ROOT'] %>
      root /app/www/{{ $.NGINX_ROOT }};
    <% else %>
      root /app/www;
    <% end %>
    index index.html;
    port_in_redirect off;

    location / {
      try_files $uri $uri/ /index.html;
    }
  }
}

